In [15]:
import pandas as pd

In [49]:
# FCC Fixed Broadband Deployment 2017 Status V1
# https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-June-2017-Status-V/9r8r-g7ut
df = pd.read_json("https://opendata.fcc.gov/resource/s7ac-qb2r.json?"
                  "blockcode=191530111141017&"
                  "consumer=1" # providers that serve consumers
                 )

In [65]:
df.columns

Index(['blockcode', 'business', 'consumer', 'dbaname', 'frn', 'hocofinal',
       'hoconum', 'holdingcompanyname', 'logrecno', 'maxaddown', 'maxadup',
       'maxcirdown', 'maxcirup', 'provider_id', 'providername', 'stateabbr',
       'techcode'],
      dtype='object')

In [75]:
df[["providername", "provider_id", "techcode"]].sort_values(by="providername")

                                         providername  provider_id  techcode
14     Brooklyn Mutual Telecommunications Cooperative        31511        10
30  CML Telephone Cooperative, Association of Meri...        31071        50
24                             Central Iowa Broadband        30934        50
8                                   CenturyLink, Inc.        35460        50
28                                  CenturyLink, Inc.        35460        11
9       Coon Valley Co-op Telephone Association, Inc.        31553        70
17      Coon Valley Co-op Telephone Association, Inc.        31546        10
0                      Cooperative Telephone Exchange        29800        50
25                  Danville Mutual Telephone Company        31714        11
13                  Danville Mutual Telephone Company        31714        10
31       Farmers & Merchants Mutual Telephone Company        31624        70
22       Farmers & Merchants Mutual Telephone Company        31624        50
15               Farmers Mutual Telephone Cooperative        31768        10
34                           Goldfield Access Network        30984        20
27                           Goldfield Access Network        30984        10
12                               HNS License Sub, LLC        33379        60
33                          Hawkeye Telephone Company        31005        50
18                          Hawkeye Telephone Company        31005        10
11     Keystone Farmers Cooperative Telephone Company        31016        50
37                              Louisa Communications        32456        70
26                              Louisa Communications        32456        10
5                                   Mediacom Iowa LLC        34355        43
6                                   Mediacom Iowa LLC        34355        42
20                 Minerva Valley Telephone Co., Inc.        32099        10
23                                    PST Digital LLC        31042        70
3          Rockwell Cooperative Telephone Association        30138        50
1          Rockwell Cooperative Telephone Association        30138        11
19                         Schaller Telephone Company        31543        10
10                       Shellsburg Cablevision, Inc.        31949        70
16                       Shellsburg Cablevision, Inc.        31949        50
32                       Shellsburg Cablevision, Inc.        31949        40
21                    Skybeam Acquisition Corporation        34345        70
29                    Sully Telephone Association Inc        30539        10
36                                  VSAT Systems, LLC        30279        60
2             Van Horne Cooperative Telephone Company        29833        50
7                                        ViaSat, Inc.        33149        60
4              Woolstock Mutual Telephone Association        31713        70
35             Woolstock Mutual Telephone Association        31713        10

In [74]:
df[df["providername"]=="Coon Valley Co-op Telephone Association, Inc."]

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
9,191530111141017,1,1,Coon Valley Cooperative Telephone Association,2593358,"Coon Valley Cooperative Telephone Association,...",130344,"Coon Valley Cooperative Telephone Association,...",6698843,6.0,1.5,0.0,0.0,31553,"Coon Valley Co-op Telephone Association, Inc.",IA,70
17,191530111141017,1,1,Coon Valley Cooperative Telephone Association,2593358,"Coon Valley Cooperative Telephone Association,...",130344,"Coon Valley Cooperative Telephone Association,...",6663348,6.0,1.5,0.0,0.0,31546,"Coon Valley Co-op Telephone Association, Inc.",IA,10

In [51]:
df.shape

(38, 17)

In [52]:
df.groupby("hoconum").nunique().shape

(24, 17)

In [53]:
df.groupby("frn").nunique().shape

(26, 17)

In [54]:
df.groupby("providername").nunique().shape

(26, 17)

In [55]:
df.groupby("dbaname").nunique().shape

(26, 17)

In [56]:
df.groupby("holdingcompanyname").nunique().shape

(24, 17)

In [57]:
df.groupby("provider_id").nunique().shape

(27, 17)

In [48]:
# FCC Fixed Broadband Deployment 2017 Status V1
# https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-June-2017-Status-V/9r8r-g7ut
df2 = pd.read_json("https://opendata.fcc.gov/resource/s7ac-qb2r.json?$where=dbaname%20like%20%27%25Rockwell%25%27")

In [79]:
df2.groupby("provider_id").nunique()

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
provider_id,,,,,,,,,,,,,,,,,
30138,682,1,1,1,1,1,1,1,1000,1,1,1,1,1,1,1,2

In [80]:
df2.groupby("frn").nunique()

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
frn,,,,,,,,,,,,,,,,,
3741964,682,1,1,1,1,1,1,1,1000,1,1,1,1,1,1,1,2