In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# FCC Fixed Broadband Deployment 2017 Status V1
# https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-June-2017-Status-V/9r8r-g7ut
df = pd.read_json("https://opendata.fcc.gov/resource/s7ac-qb2r.json?"
                  "blockcode=191530111141017&"
                  "consumer=1" # providers that serve consumers
                 )

In [65]:
df.columns

Index(['blockcode', 'business', 'consumer', 'dbaname', 'frn', 'hocofinal',
       'hoconum', 'holdingcompanyname', 'logrecno', 'maxaddown', 'maxadup',
       'maxcirdown', 'maxcirup', 'provider_id', 'providername', 'stateabbr',
       'techcode'],
      dtype='object')

In [5]:
df[["providername", "provider_id", "techcode", 'maxaddown', 'maxadup',
    'maxcirdown', 'maxcirup',]].sort_values(by="providername")

,providername,provider_id,techcode,maxaddown,maxadup,maxcirdown,maxcirup
14,Brooklyn Mutual Telecommunications Cooperative,31511,10,10.0,1.50,0.0,0.00
30,"CML Telephone Cooperative, Association of Meri...",31071,50,100.0,100.00,0.0,0.00
24,Central Iowa Broadband,30934,50,25.0,25.00,0.0,0.00
8,"CenturyLink, Inc.",35460,50,1000.0,1000.00,0.0,0.00
28,"CenturyLink, Inc.",35460,11,4.0,1.00,0.0,0.00
9,"Coon Valley Co-op Telephone Association, Inc.",31553,70,6.0,1.50,0.0,0.00
17,"Coon Valley Co-op Telephone Association, Inc.",31546,10,6.0,1.50,0.0,0.00
0,Cooperative Telephone Exchange,29800,50,50.0,50.00,50.0,50.00
25,Danville Mutual Telephone Company,31714,11,20.0,1.00,0.0,0.00
13,Danville Mutual Telephone Company,31714,10,20.0,1.00,0.0,0.00
31,Farmers & Merchants Mutual Telephone Company,31624,70,12.0,12.00,0.0,0.00
22,Farmers & Merchants Mutual Telephone Company,31624,50,50.0,50.00,0.0,0.00
15,Farmers Mutual Telephone Cooperative,31768,10,9.0,0.60,9.0,0.60
34,Goldfield Access Network,30984,20,12.0,12.00,0.0,0.00
27,Goldfield Access Network,30984,10,12.0,6.00,0.0,0.00
12,"HNS License Sub, LLC",33379,60,25.0,3.00,0.0,0.00
33,Hawkeye Telephone Company,31005,50,1000.0,1000.00,0.0,0.00
18,Hawkeye Telephone Company,31005,10,25.0,4.00,0.0,0.00
11,Keystone Farmers Cooperative Telephone Company,31016,50,40.0,1.00,0.0,0.00
37,Louisa Communications,32456,70,8.0,2.00,0.0,0.00
26,Louisa Communications,32456,10,12.0,1.30,0.0,0.00
5,Mediacom Iowa LLC,34355,43,1000.0,50.00,0.0,0.00
6,Mediacom Iowa LLC,34355,42,200.0,20.00,0.0,0.00
20,"Minerva Valley Telephone Co., Inc.",32099,10,10.0,10.00,0.0,0.00
23,PST Digital LLC,31042,70,10.0,2.00,0.0,0.00
3,Rockwell Cooperative Telephone Association,30138,50,5.0,2.00,5.0,2.00
1,Rockwell Cooperative Telephone Association,30138,11,5.0,2.00,5.0,2.00
19,Schaller Telephone Company,31543,10,10.0,1.00,0.0,0.00
10,"Shellsburg Cablevision, Inc.",31949,70,1.5,0.25,1.5,0.25
16,"Shellsburg Cablevision, Inc.",31949,50,70.0,7.00,70.0,7.00
32,"Shellsburg Cablevision, Inc.",31949,40,6.0,0.50,6.0,0.50
21,Skybeam Acquisition Corporation,34345,70,15.0,3.00,1000.0,1000.00
29,Sully Telephone Association Inc,30539,10,10.0,1.50,10.0,1.50
36,"VSAT Systems, LLC",30279,60,2.0,1.30,2.0,1.30
2,Van Horne Cooperative Telephone Company,29833,50,20.0,2.00,10.0,2.00
7,"ViaSat, Inc.",33149,60,12.0,3.00,0.0,0.00
4,Woolstock Mutual Telephone Association,31713,70,8.0,3.00,0.0,0.00
35,Woolstock Mutual Telephone Association,31713,10,8.0,3.00,0.0,0.00

In [74]:
df[df["providername"]=="Coon Valley Co-op Telephone Association, Inc."]

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
9,191530111141017,1,1,Coon Valley Cooperative Telephone Association,2593358,"Coon Valley Cooperative Telephone Association,...",130344,"Coon Valley Cooperative Telephone Association,...",6698843,6.0,1.5,0.0,0.0,31553,"Coon Valley Co-op Telephone Association, Inc.",IA,70
17,191530111141017,1,1,Coon Valley Cooperative Telephone Association,2593358,"Coon Valley Cooperative Telephone Association,...",130344,"Coon Valley Cooperative Telephone Association,...",6663348,6.0,1.5,0.0,0.0,31546,"Coon Valley Co-op Telephone Association, Inc.",IA,10

In [51]:
df.shape

(38, 17)

In [52]:
df.groupby("hoconum").nunique().shape

(24, 17)

In [53]:
df.groupby("frn").nunique().shape

(26, 17)

In [54]:
df.groupby("providername").nunique().shape

(26, 17)

In [55]:
df.groupby("dbaname").nunique().shape

(26, 17)

In [56]:
df.groupby("holdingcompanyname").nunique().shape

(24, 17)

In [57]:
df.groupby("provider_id").nunique().shape

(27, 17)

In [48]:
# FCC Fixed Broadband Deployment 2017 Status V1
# https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-June-2017-Status-V/9r8r-g7ut
df2 = pd.read_json("https://opendata.fcc.gov/resource/s7ac-qb2r.json?$where=dbaname%20like%20%27%25Rockwell%25%27")

In [79]:
df2.groupby("provider_id").nunique()

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
provider_id,,,,,,,,,,,,,,,,,
30138,682,1,1,1,1,1,1,1,1000,1,1,1,1,1,1,1,2

In [80]:
df2.groupby("frn").nunique()

,blockcode,business,consumer,dbaname,frn,hocofinal,hoconum,holdingcompanyname,logrecno,maxaddown,maxadup,maxcirdown,maxcirup,provider_id,providername,stateabbr,techcode
frn,,,,,,,,,,,,,,,,,
3741964,682,1,1,1,1,1,1,1,1000,1,1,1,1,1,1,1,2

In [72]:
# Information about each technology
tech_info= {"techcode": [10, 11,12,20,30,40,41,42,43,50,60,70,90,0],
            "info": ["Asymetrical xDSL", "ADSL2","VDSL", "Symetrical xDSL", 
                     "Other Copper Wireline", "Cable Modem", "Cable Modem-DOCSIS1, 1.1 and 2.0", 
                     "Cable Modem-DOCSIS 3.0", "Cable Modem-DOCSIS 3.1 ", 
                     "Optical Carrier/Fiber to the End User ", "Satellite ", 
                     "Terrestrial Fixed Wireless ", "Electric Power Line ", "All Other"]
           }
groupby_tech = pd.DataFrame.from_dict(data=tech_info)

                                      info  techcode
0                         Asymetrical xDSL        10
1                                    ADSL2        11
2                                     VDSL        12
3                          Symetrical xDSL        20
4                    Other Copper Wireline        30
5                              Cable Modem        40
6         Cable Modem-DOCSIS1, 1.1 and 2.0        41
7                   Cable Modem-DOCSIS 3.0        42
8                  Cable Modem-DOCSIS 3.1         43
9   Optical Carrier/Fiber to the End User         50
10                              Satellite         60
11             Terrestrial Fixed Wireless         70
12                    Electric Power Line         90
13                               All Other         0

In [76]:
###########
# Count of census block * providers for each techonology
###########
groupby_tech_count = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,count(logrecno)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_count, how = 'inner', on = ['techcode'])

In [78]:
###########
# Max advertised max download speed for each techonology
###########
groupby_tech_max_down = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,max(maxaddown)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_max_down, how = 'inner', on = ['techcode'])

In [82]:
###########
# Min advertised max download speed for each techonology
###########
groupby_tech_min_down = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,min(maxaddown)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_min_down, how = 'inner', on = ['techcode'])

In [86]:
###########
# Avg advertised max download speed for each techonology
###########
groupby_tech_avg_down = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,avg(maxaddown)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_avg_down, how = 'inner', on = ['techcode'])

In [80]:
###########
# Max advertised max upload speed for each techonology
###########
groupby_tech_max_up = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,max(maxadup)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_max_up, how = 'inner', on = ['techcode'])

In [84]:
###########
# Min advertised max upload speed for each techonology
###########
groupby_tech_min_up = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,min(maxadup)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_min_up, how = 'inner', on = ['techcode'])

In [88]:
###########
# Avg advertised max upload speed for each techonology
###########
groupby_tech_avg_up = pd.read_json(
    "https://opendata.fcc.gov/resource/s7ac-qb2r.json?$select=techcode,avg(maxadup)&$group=techcode")
groupby_tech = groupby_tech.merge(groupby_tech_avg_up, how = 'inner', on = ['techcode'])

In [89]:
groupby_tech

,info,techcode,count_logrecno,max_maxaddown,max_maxadup,min_maxaddown,min_maxadup,avg_maxaddown,avg_maxadup
0,Asymetrical xDSL,10,4332983,1000.0,1000.0,0.0,0.0,9.479975,2.262793
1,ADSL2,11,4063281,1000.0,1000.0,0.0,0.0,13.121088,1.798122
2,VDSL,12,1898022,1000.0,1000.0,0.0,0.0,53.864291,11.398218
3,Symetrical xDSL,20,223894,1000.0,1000.0,0.0,0.0,14.328719,14.328719
4,Other Copper Wireline,30,664388,1000.0,1000.0,0.0,0.0,5.129049,4.482325
5,Cable Modem,40,103309,1000.0,500.0,0.0,0.0,267.537136,16.203113
6,"Cable Modem-DOCSIS1, 1.1 and 2.0",41,112135,300.0,30.0,0.0,0.0,50.943762,4.623758
7,Cable Modem-DOCSIS 3.0,42,3989519,1000.0,1000.0,0.0,0.0,267.809204,18.031908
8,Cable Modem-DOCSIS 3.1,43,1832742,1000.0,50.0,0.0,0.0,602.345647,25.295867
9,Optical Carrier/Fiber to the End User,50,2695575,1000.0,1000.0,0.0,0.0,431.378925,357.822627
10,Satellite,60,42516216,25.0,3.0,0.0,0.0,10.345133,1.732933
11,Terrestrial Fixed Wireless,70,7736369,1000.0,1000.0,0.0,0.0,25.783550,16.618807
12,Electric Power Line,90,5,1.5,1.5,1.5,1.5,1.500000,1.500000
13,All Other,0,392,100.0,100.0,0.0,0.0,11.070153,7.010204

In [90]:
groupby_tech.to_csv("groupby_tech.csv")